h1
{
    text-align: center;
    position: relative;
    animation-name: titre;
    animation-duration: 10s;

    animation-iteration-count: infinite;
}
@keyframes titre {
    0%   {color: rgb(255, 0, 0);}
    25%  {color: rgb(0, 39, 236);}
    50%  {color: rgb(255, 0, 0);}
    75%  {color: rgb(0, 39, 236);}
    100% {color: rgb(255, 0, 0);}
  }
body
{
    background-color: rgb(255, 255, 255);
}
img {
    width : 500px;
    height : 500px;
    }
div
{
    position: relative;
    animation-name: robot;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes robot {
    0%   {left:0%; top:0%;}
    25%  {left:70%; top:0px;}
    50%  {left:0%; top:0%;}
    75%  {left:70%;top:0px;}
    100% {left:0%; top:0%;}
  }
.bouton
  {
    display: block;
    align-content: center;
    background-color: #719fee;
    border-radius: 10px;
    border: 4px double #1f69ec;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 300px;
    cursor: pointer;
 }
.bouton:hover
{
  transform: translate(25%); 
}

